*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#addTaskButton{
  padding: 15px;
  margin: 15px;
  font-size: 14px;
  background-color: rgb(209, 192, 192);
}
h1{
  padding-top: 10px;
  margin-top: 10px;
  color: rgb(14, 14, 61);
}
#taskInput{
  padding: 15px;
  margin: 15px;
  font-size: 14px;
  background-color: rgb(171, 202, 192);
}
.todo-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #e6ddb6;
}

ul {

  list-style-type: none;
  padding: 15px;
  margin: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-size: 1rem;
}

button.delete-button {
  background-color: #ecadad;
  border: none;
  padding: 15px 8px;
  cursor: pointer;
}
